.container {
  background-color: #323232;
  border: .5px solid #323232;
  padding: 10px 30px;
  border-radius: 30px;
  margin: 0 auto;
  margin: 30px 0px;
  transition: .3s;
}

.secondary {
  background-color: #1D1D1D;
}

.secondary:hover {
  border: .5px solid white;
  background-color: #2b2b2b;
}

.status {
  background-color: #1D1D1D;
  text-align: center;
  max-height: 75px;
  width: max-content;
  padding: 5px 10px;
  border-radius: 20px;
  color: #1D1D1D;
}

.online {
  background-color: #31C08A;
}

.offline {
  background-color: #EE694B;
}

.flexbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}