.container {
  width: 310px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error {
  color: red;
}

.container input {
  background-color: #323232;
  border: none;
  padding: 1em 20px;
  border-radius: 10px;
  color: white;
  width: 65%;
}

.container button {
  cursor: pointer;
  background-color: #474DFF;
  border: none;
  padding: 1em 20px;
  border-radius: 10px;
  color: white;
  margin-left: 10px;
  font-weight: 600;
  transition: .3s;
  width: 30%;
}

.container button:hover {
  background-color: #3F44D2;
}

.bookmarkContainer {
  width: 300px;
  position: absolute;
  top: 85vh;
}

.bookmarkContainer h1 {
  margin: 0 auto;
  margin-bottom: 2rem;
}